html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Merriweather', serif, sans-serif;
}

p {
  line-height: 1.5rem;
  color: lightslategray;
  font-weight: 300;
} 


/*==========================
======== LAYOUT ============ 
==========================*/

.container {
  background-color: #fff;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}



/*---------------------------
HEADING
---------------------------*/
h1 {
  text-transform: uppercase;
}

h3 {
  margin-top: 2rem;
} 


/*---------------------------
HR
---------------------------*/
.single-bar {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 1.5rem;
}

.double-bar {
  border: 0;
  width: 95%;
  border-top: 3px double #8c8c8c;
  margin-bottom: 1.5rem;
}



/*---------------------------
FORM RADIO & CHECKBOX
---------------------------*/
.form-radio {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}

.form-radio:checked::before{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover{
     background-color: #f7f7f7;
}

.form-radio:checked{
     background-color: #f1f1f1;
}

/* --- */
.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;
}

.form-checkbox:checked::before{
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}
.form-checkbox:hover{
  background-color: #f7f7f7;
}

.form-checkbox:checked{
  background-color: #f1f1f1;
}


/*---------------------------
BASIC STYLES
---------------------------*/
.header-title {
  color: #fff;
  background: rgb(40, 53, 95);
}

header,
.description,
.copy {
  text-align: center;
}

fieldset {
  border: 0;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  margin-top: 1rem;
  color: lightslategray;
}

input,
select,
textarea {
  margin-top: 10px;
  border: none;
}

  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
  }

  input[id="zip-code"] {
    max-width: 50%;
  }

  input::placeholder {
    text-align: right;
    color: lightslategray;
    font-weight: 300;
    font-style: italic;
  }

  input:focus {
    border: 1px solid rgb(40, 53, 95);
  }

  select {
    color: lightslategray;
  }

  textarea {
    padding: 50px;
  }

.message {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

button {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 8px;
  width: 100%;
  color: #fff;
  background: rgb(0, 181, 181);
  padding: 30px;
  margin: 2rem 0;
}

.copy {
  font-weight: 300;
  color: lightslategrey;
  font-style: italic;
}

/*==========================
====== MEDIA QUERIES ======= 
==========================*/
@media (min-width: 768px) {

  .header-title {
    min-width: 100%;
  }

  .form-control {
    flex-direction: row;
  }

  .form-control label {
    min-width: 200px;
  }

  label,
  input {
    align-self: center;
  }
}

